/* CSS styles for the About Me page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222831;
}

header {
    background-color: #222831 ;
    color: #DDDDDD;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #222831; /* Changed background color */
    text-align: center;
    padding: 10px;
}

nav a {
    color: #30475E;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    background-color: #DDDDDD;
    border: 1px solid #222831;
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    color: #30475E;
}
h3 {
    color: #30475E;
}

p {
    line-height: 1.5;
}

.project {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
    border: 1px solid #DDDDDD;
}
.column {
    float: left;
    width: 15%;
    padding: 1px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }


